APP_NAME=project
NODE_ENV=local

PORT=3000
HOST=localhost

# LOCAL DATABASE
# compatible provider: postgresql, mysql, sqlite, sqlserver, mongodb, cockroachdb
DATABASE_URL={provider}://{user}:{password}@host:{port}/{db_name}

# SERVER DATABASE

#DATABASE_URL=mongodb+srv://{user}:{password}@cluster0.iqe4ozb.mongodb.net/{bd-name}?retryWrites=true&w=majority
